body {
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	font-size: 16px;
	margin: 60px auto;
	width: 70%;
}

nav ul, footer ul {
	padding: 0px;
	list-style: none;
	font-weight: bold;
}
nav ul li, footer ul li {
	display: inline;
	margin-right: 20px;
}

a {
	text-decoration: none;
	color: #006688;
}
a:visited {
	text-decoration: none;
	color: #7b1664;
}
a:hover {
	text-decoration: underline;
}

div.container {
	margin-top: 20px;
}

h1 {
	font-size: 2.5em;
	margin-bottom: 0;
}

p {
//	font-size: 1.5em;
//	line-height: 1.4em;
	color: #333;
}

p.tagline {
	font-style: italic;
	margin-top: 0;
}

ul li {
	list-style-type: square;
	color: #333;
	margin-bottom: 1em;
}

footer {
	border-top: 1px solid #d5d5d5;
	font-size: .8em;
}
