body {
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	font-size: 16px;
	color: #333;
	margin: 40px auto;
	width: 80%;
}

nav ul, footer ul {
	padding: 0px;
	list-style: none;
	font-weight: bold;
}
nav ul li, footer ul li {
	display: inline;
	margin-right: 20px;
}

a {
	text-decoration: none;
	color: #006688;
}
a:visited {
	text-decoration: none;
	color: #7b1664;
}
a:hover {
	text-decoration: underline;
}

div.container {
	margin-top: 40px;
}

.highlight {
	background-color: #f8f8f8;
//	border: 1px solid #cccccc;
}

h1 {
	font-size: 2.0em;
	margin-bottom: 0;
}

h2 {
	font-size: 1.6em;
	margin-bottom: 0;
}

h3 {
	font-size: 1.2em;
	margin-top: 2px;
}

hr {
	height: 2px;
	border-width: 0;
	background-color: gray;
	margin-top: 25px;
	margin-bottom: 2px;
}

p {
}

ul li {
	list-style-type: square;
	margin-bottom: 0.5em;
}

table {
	padding: 0;
	border-collapse: collapse;
}
table tr {
	border-top: 1px solid #cccccc;
	background-color: white;
	margin: 0;
	padding: 0;
}
table tr th {
	font-weight: bold;
	border: 1px solid #cccccc;
	margin: 0;
	padding: 6px 13px;
}
table tr td {
	border: 1px solid #cccccc;
	margin: 0;
	padding: 6px 13px;
}
