<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/ref.css">
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/tutorials">Tutorials</a></li>
				<li><a href="/standalone">Standalone</a></li>
				<li><a href="/rtcmix_">rtcmix~</a></li>
				<li><a href="/irtcmix">iRTcmix</a></li>
				<li><a href="http://sites.music.columbia.edu/brad/uRTcmix/">uRTcmix</a></li>
				<li><a href="/reference">Reference</a></li>
				<li><a href="/about">History</a></li>
				<li><a href="/links">Links</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
		<div class="container">

		{{ content }}

		</div> <!-- .container -->
	</body>
</html>
