<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/ref.css">
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/standalone">Standalone</a></li>
				<li><a href="/rtcmix~">rtcmix~</a></li>
				<li><a href="/irtcmix">iRTcmix</a></li>
				<li><a href="/tutorials">Tutorials</a></li>
				<li><a href="/reference">Reference</a></li>
			</ul>
		</nav>
		<div class="container">

		{{ content }}

		</div> <!-- .container -->
		<footer>
			<ul>
				<li><a href="https://github.com/rtcmix">github.com/rtcmix</a></li>
			</ul>
		</footer>
	</body>
</html>
